@import "../../styles//variables.scss";
@import "../../styles/responsive.scss";

.menu{

    @media screen and (max-width:400px){
        position: absolute;
        background: $dark-bg;
        z-index: 10000000000;
    }
    .item{
        display: flex;
        flex-direction: column;
        margin-top: 14px;
        gap: 5px;

        .title{
            font-size: 12px;
            font-weight: 200;
            color: $soft-color;

            @include lg{
                display: none;
            }
        }

        .mutual{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 15px;
            border-radius: 5px;
            font-size: 14px;

             .listItemTitle{

                @include lg{
                    display: none;
                }
            }

            // i{
            //     width: 30px;
            //     height: 30px;
            //     color: black;
            // }
            
        }

        .listItem{

            &:hover{
                background-color: $soft-bg
            }
 
           
        }

        .light{

            &:hover{
                background-color:rgb(229 231 235);
            }

        }
    }
}