// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$soft-sh: #384290b7;
$dark-bg: #222b3c;
// TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

// light mode

$light-main-bg: whitesmoke;
$light-soft-bg: rgb(224, 224, 224);
$light-soft-sh: rgb(147 197 253);
$light-main-color: rgb(39, 39, 39);
$light-soft-color: rgb(31 41 55);