@import "../../styles/responsive.scss";

.topBox{

    .heading{
        @include xl{
            font-size: 23px;
        }
    }
    .user{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;

        @include md{
            margin-top: 25px;
        }

         .userData{
            display: flex;
            gap: 10px;
            align-items: center;

            img{
                width: 38px;
                height: 38px;
                border-radius: 9999px;
                object-fit: cover;
                object-position: top;

                // @include xl{
                //     display: none;
                // }
                @include lg{
                    display: block;
                }
                @media screen and (max-width: 405px){
                    display: none;
                }
            }

            .data {
                p{
                    &:first-child{
                        font-size: 14px;
                        font-weight: 500;
                    }

                    &:last-child{
                        font-size: 12px;
                         @include xl{
                            display: none;
                        }
                        @include lg{
                            display: block;
                        }
                    }
                }
            }
        }

        .account {
            font-weight: 500;
            font-size: 15px;
        }
    }

   
}